<div  class='fixed bottom-[50%] right-0 z-10 bg-primary text-white px-10 py-4 hover:scale-105'>
  <div class='flex gap-1 items-center justify-center'>
    <i class="fa-solid fa-cart-shopping"></i>
    <span class='font-bold'>0</span>
    <span>items</span>
  </div>

  <p class="text-center bg-white text-primary text-sm uppercase mt-4 px-4 py-2">
    KShs. 0
  </p>

</div>