<% services = [
  {
    title: 'Offers & Discounts',
    description: 'upto 50% off on all medicines and health products',
    image: 'offers.png',
    background: 'bg-gradient-to-r from-orange-50 to-orange-100',
    path: 'offers'
  },
  {
    title: 'Fast Delivery',
    description: 'on time every time delivery at your doorsteps',
    image: 'delivery.png',
    background: 'bg-gradient-to-r from-blue-50 to-blue-100'
  },
  {
    title: '24/7 Support',
    description: 'our customer support is ready to help you anytime',
    image: 'customer-support.png',
    background: 'bg-gradient-to-r from-green-50 to-green-100'
  },
] %>

<div class="flex sm:flex-row flex-col gap-4 z-10 px-6">
  <% services.each do |service| %>
    <div class="<%= service[:background]%> px-4 py-12 rounded-lg shadow-lg flex  items-center gap-4 hover:scale-105">
      <div class='flex flex-col'>
        <h2 class="font-bold text-lg"><%= service[:title] %></h2>
        <p class="text-sm capitalize"><%= service[:description] %></p>
      </div>
      <%= image_tag(service[:image], class: 'sm:w-28 w-20 sm:h-28 h-20') if service[:image].is_a?(String) %>
    </div>
  <% end %>
</div>
