<nav class="p-4 text-xs uppercase text-secondary">
  <ol class="list-none p-0 inline-flex">
    <li class="flex items-center">
      <%= link_to "Home", root_path, class:'hover:bg-gray-200 px-2' %>
    </li>
    <span class="mx-2">/</span>
    <li class="flex items-center">
      <%= link_to "vendors", vendors_path, class:'hover:bg-gray-200 px-2' %>
    </li>
    <span class="mx-2">/</span>
    <li class="flex items-center">
      <span class="text-primary">
        New vendor
      </span>
    </li>
  </ol>
</nav>

<hr class="my-2 border border-gray-300 w-3/4">

<div class="md:w-2/3 w-full">
  <%= render "form", vendor: @vendor %>
</div>
