<div id="<%= dom_id medical_condition %>">
  <% if action_name != "show" %>
    <%= link_to "Show this medical condition", medical_condition, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this medical condition", edit_medical_condition_path(medical_condition), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
